* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  transition:
    background-color 0.25s,
    color 0.25s;
  color: var(--color-text);
  background-color: var(--color-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-disabled);
}
body::-webkit-scrollbar-corner {
  display: none;
}

:root {
  --card-max-width: 375px;
  --card-min-width: 300px;
}

.card {
  max-width: var(--card-max-width);
  min-width: var(--card-min-width);
  margin-bottom: 4px;
}

.card-description {
  color: var(--card-description-color);
  font-size: var(--card-description-font-size);
  padding: var(--card-description-padding);
  margin: 12px 0 0 0;
}

.append-icon {
  margin-right: 8px;
  image-rendering: pixelated;
}

.cell {
  min-height: 60px;
  padding: 3px 0px;
  --cell-border-left: 0px;
  --cell-border-right: 0px;
}

.mini-cell {
  .cell();
  min-height: 24px;
}

.text-cell {
  .cell();
  min-height: 40px;
}

.entry-cell {
  .cell();
  min-height: 56px;
}
