* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  transition:
    background-color 0.25s,
    color 0.25s;
  color: var(--color-text);
  background-color: var(--color-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  --card-max-width: 375px;
  --card-min-width: 300px;
}

.card {
  max-width: var(--card-max-width);
  min-width: var(--card-min-width);
  margin-bottom: 4px;
}

.card-description {
  color: var(--card-description-color);
  font-size: var(--card-description-font-size);
  padding: var(--card-description-padding);
  margin: 12px 0 0 0;
}

.append-icon {
  margin-right: 8px;
  image-rendering: pixelated;
}

.cell {
  min-height: 60px;
  padding: 3px 0px;
  --cell-border-left: 6px;
  --cell-border-right: 6px;
}

.mini-cell {
  .cell();
  min-height: 24px;
}

.text-cell {
  .cell();
  min-height: 40px;
}

.entry-cell {
  .cell();
  min-height: 56px;
}

.space {
  line-height: 120%;
}

.popup-content {
  border-radius: 16px;
  width: 90vw;
}

@media screen and (max-width: 320px) {
  .popup-content {
    padding: 16px 6px;
  }
}

@media screen and (min-width: 375px) {
  .popup-content {
    padding: 16px 9px;
  }
}

@media screen and (min-width: 768px) {
  .popup-content {
    padding: 24px 12px;
    max-width: 768px;
  }
}
